.filterContainer{
    flex: 0 0 185px;
    max-width: 280px;
    padding: 0px 10px 0px 0px;
}
.slider{
    position: relative;
    height: 13px;
    cursor: pointer;
}
.leftDot{
    display: inline-block;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    width: 20px;
    height: 20px;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    top: -3.5px;
    transition: translate .5s ease-out;
    left: -6.5px;
}
.leftDotInner{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 1px solid #bababa;
    position: absolute;
    background-color: #fff;
    top: 3.5px;
    right:0;
}
.rightDot{
        display: inline-block;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    width: 20px;
    height: 20px;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    top: -3.5px;
    transition: translate .5s ease-out;
        right: 20px;
}
.rightDotInner{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 1px solid #bababa;
    position: absolute;
    background-color: #fff;
    top: 3.5px;
}
.sliderBar{
    background-color: #c2c2c2;
    height: 2px;
    display: inline-block;
    position: absolute;
    top: 6px;
    width: 80%;
}
.sliderBarVariation{
    background-color: #2874f0;
    -webkit-transform-origin: left center;
    transform-origin: left center;
    top: 4px;
    height: 6px;
    display: inline-block;
    position: absolute;
    width: 80%;
}
.values{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 5px;
    width: 165px;
    font-size: 14px;
    color: gray;
}
.priceName{
    text-align: center;
    padding-right: 23px;
    font-size: 14px;
    color: gray;
        padding-top: 13px;
}
.button{
        display: inline-block;
    padding: 10px 25px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #2874f0;
    border: none;
    border-radius: 25px;
    margin-left: 35px;
    margin-top: 20px;
}
.slidecontainer {
  width: 100%;
  position: absolute;
}

.slider {
  -webkit-appearance: none;
  width:145px;
  height: 6px;
  border-radius: 5px;
  background: #2874f0;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  position: absolute;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #fff;
  cursor: pointer;
  width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 1px solid #bababa;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider1 {
  -webkit-appearance: none;
  background: none !important;
      position: absolute;
    margin: -1px;
    left: 13px;
  outline: none;
}

.slider1:hover {
  opacity: 1;
}

.slider1::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #fff;
  cursor: pointer;
  width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 1px solid #bababa;
}

.slider1::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
